// Kolombreedtes voor programma grid (desktop)
$programma-grid-columns: 75px 110px 2fr 2fr 110px 80px 1fr;

// Responsive variant voor >1300px (optioneel, kan later toegevoegd worden)
// $programma-grid-columns-lg: 90px 2.5fr 70px 2.5fr 70px 90px 2.5fr;
