.kleedkamer {
  background: #222222;
  color: white;
  text-align: center;
}

.veld {
  background: green;
  color: white;
  text-align: center;
}

.sleutel {
  border: 2px solid white;
  margin: 0px 2px 0px 2px;
  padding: 10px;
  color: white;
  font-size:40px;
  line-height: 50px;
  text-transform: uppercase;
}
