/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Helvetica Neue", Helvetica, Arial;

  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #3b3b3b;
}

table {
  font-family: "Helvetica Neue", Helvetica, Arial;
  line-height: 20px;
  color: #3b3b3b;
  background: #f0f0f0;
  margin: 0 0 40px 0;
  width: calc(100% - 100px);
  display: table;
  opacity: 0.9;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.6);
}

tr {
  display: table-row;
  background: #f6f6f6;
}

tr:nth-of-type(odd) {
  background: #e9e9e9;
}

thead {
  font-weight: 900;
  color: #ffffff;
  background: #b50102;
  text-transform: uppercase;
  text-align: center;
}

tr {
  padding: 8px 0 4px;
}

td {
  padding: 2px 12px;
  display: table-cell;
}
